@model IEnumerable<HotDeskApp.Employee>

@{
    ViewData["Title"] = "Registered Employees";
}

<h3>Registered employees</h3>

<p>
    <a asp-controller="AdminPanel" asp-action="CreateNewEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @*                    @Html.DisplayFor(modelItem => item.Role.RoleName)*@
                    @if (item.RoleId == 1)
                    {
                        <div>Admin</div>
                    }
                    else
                    {
                        <div>Employee</div>
                    }

                </td>
                <td>
                    <a asp-controller="AdminPanel" asp-action="EditEmployee" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-controller="AdminPanel" asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-controller="AdminPanel" asp-action="DeleteEmployee" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
